# Quality Report
Use this file to outline the test strategy for this package.

## QA Owner: Kevin Maxon
## UX Owner: [*Add Name*]

## Test strategy
*Use this section to describe how this feature was tested.*
* A link to the Test Plan https://docs.google.com/document/d/1WnaS_H62ps4eMX8mTGw4XhHW-gTX53b5t4BrGM3a5YE/edit


## Package Status
Use this section to describe:
* UX status/evaluation results
* package stability
* known bugs, issues
* performance metrics,
* etc

* TODOS - this scene does not contain final example content
*		- this scene does not contain final skybox and fog features
* NOTES - this project uses an experimental feature - HD SRP
*		- this projects manifest will require future updates

